.centerize {
    display: flex;
    justify-content: center;
}

.android {
    width: 50%;
}

.appscore-warning {
    width: 40%;
    padding: 0px 10px;
}

.appscore-trackers-warning {
    width: 45%;
    padding: 0px 10px;
}

.infoTable {
    td {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
.ps-description {
    padding: 15px 24px;
}

.info-card {
    border-radius: 22px;
    padding: 10px;
}

.info-card-flex {
    padding: 10px;
    color: #fff;
    h2 {
        font-size: 45px;
        font-weight: 700;
    }
    p {
        font-size: 20px;
    line-height: 29px;
    padding: 10px;
    }
}

.mini-stats {
    border-radius: 0px;
}

.file-card {
    padding: 20px;
    padding-bottom: 10px;
    img {
        width: 30%;
    }
}

.functionality-buttons {
    justify-content: center;
    Button{
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 5px;
    }
}