.centerize {
    display: flex;
    justify-content: center;
}

.app-image-container {
    width: 100%;
    margin-bottom: 30px;
}

.app-image {
    width: 30%;
}

.appscore-warning {
    width: 40%;
    padding: 0px 10px;
}

.appscore-trackers-warning {
    width: 45%;
    padding: 0px 10px;
}

.infoTable {
    td {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
.ps-description {
    padding: 15px 24px;
}

.info-card {
    border-radius: 22px;
    padding: 10px;
}

.info-card-flex {
    padding: 10px;
    color: #fff;
    h2 {
        font-size: 45px;
        font-weight: 700;
    }
    p {
        font-size: 20px;
    line-height: 29px;
    padding: 10px;
    }
}

.mini-stats {
    border-radius: 0px;
}

.file-card {
    padding: 20px;
    padding-bottom: 10px;
    img {
        width: 30%;
    }
}

.functionality-buttons {
    justify-content: center;
    Button{
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 5px;
    }
}

.center-card {
    justify-content: center;
}

.card-flex {
    border-radius: 20px;
    background-color: #fff;
}

.app-heading {
    padding: 15px 30px;
    p {
        padding-left: 10px;
    }
}

.app-score-text {
    font-size: 19px
}

.heading-logo {
    padding-right: 10px;
}

.heading-logo-svg {
    width: 40px;
}

.heading-logo-png {
    width: 48px;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .app-score-text {
        font-size: 13px
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1450px){
    .app-score-text {
        font-size: 15px
    }
  }


  @media screen and (max-width: 400px){
    .app-score-text {
        font-size: 15px
    }
  }